{% extends '_base.html' %}

{% block title %} {{ 'Upravit' if edit else 'Přidat' }} {% endblock %}

{% block heading %}
    {% if edit %}
        Upravit <br> "{{ post.title }}"
    {% else %}
        Přidat příspěvek
    {% endif %}
{% endblock %}

{% block content %}
    <script>
        let imageFiles = []; // Array pro uchovávání všech vybraných obrázků

        function previewImages() {
            const fileInput = document.getElementById('addImage');
            const previewContainer = document.getElementById('imagePreviewContainer');

            // Získat vybrané soubory
            const files = fileInput.files;
            // Přidat nové soubory do existujícího pole
            for (let i = 0; i < files.length; i++) {
                const file = files[i];

                // Zkontrolovat, zda je to obrázek
                if (file.type.startsWith('image/')) {
                    const reader = new FileReader();
                    reader.onload = function(event) {
                        const img = document.createElement('img');
                        img.src = event.target.result;
                        img.style.width = '100px';  // Nastavte šířku obrázku
                        img.style.height = 'auto';  // Udržujte proporce
                        img.style.marginRight = '10px'; // Mezera mezi obrázky
                        previewContainer.appendChild(img);
                    }

                    reader.readAsDataURL(file);  // Načíst obrázek jako URL

                    // Přidání souboru do pole imageFiles pouze jednou
                    if (!imageFiles.includes(file)) {
                        imageFiles.push(file);  // Uložit soubor, pokud už není přítomen
                    }
                }
            }
        }

        // Odeslat formulář a přidat obrázky do FormData
        function submitForm() {
            const form = document.querySelector('form');
            const formData = new FormData(form);

            console.log(imageFiles);
            // Přidat všechny obrázky do FormData
            imageFiles.forEach(file => {
                formData.append('images', file); // Přidat každou vybranou fotku
            });
            console.log(formData);

            fetch(form.action, {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Příspěvek byl úspěšně přidán!');
                    // Můžete přesměrovat na jinou stránku nebo vyčistit formulář
                    window.location.href = '/';  // Přesměrovat na index.html
                } else {
                    alert('Došlo k chybě při přidávání příspěvku.');
                }
            })
            .catch(error => {
                console.error('Chyba:', error);
            });
        }
        </script>


    <div class="container mt-4">
        <form action="{{ url_for('posts.edit_post', post_id=post.id) if edit else url_for('posts.add_post') }}" method="POST"
              enctype="multipart/form-data" onsubmit="event.preventDefault(); submitForm();">
            <div class="form-group">
                <label for="title">Titulek:</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ post.title if edit else '' }}" required>
            </div>
            <div class="form-group">
                <label for="content">Obsah:</label>
                <textarea class="form-control" id="content" name="content" rows="5" required>{{ post.content if edit else '' }}</textarea>
            </div>
            <div class="form-group" id="image-inputs">
                <label for="image-inputs">Obrázky:</label>
<!--                <input type="file" class="form-control-file" name="images" multiple>-->
                <div id="imagePreviewContainer"></div>
                <input type="file" id="addImage" multiple accept="image/*" onchange="previewImages()">

            </div>

            <button type="submit" class="btn btn-primary mt-2">{{ 'Uložit' }}</button>
            <a href="{{ url_for('core.index') }}" class="btn btn-secondary mt-2">Zpět</a>
        </form>
    </div>

{% endblock %}