{% extends '_base.html' %}

{% block head_includes %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
{% endblock %}

{% block title %}  Post {{post.id}} {% endblock %}

{% block heading %} {{post.title}} {% endblock %}

{% block content %}
    <!-- Obsah příspěvku -->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <a class="btn btn-success" href="{{ url_for('posts.edit_post', post_id=post.id) }}">Upravit příspěvek</a>
                    <a class="btn btn-danger" href="{{ url_for('posts.delete_post', post_id=post.id) }}">Odstranit příspěvek</a>
                    <hr>

                    <span class="meta">Publikováno dne {{ post.created_at.strftime('%d.%m.%Y') }}</span>

                    <p>{{ post.content }}</p>

                    {% if post.images %}
                        <!-- Zobrazení všech obrázků -->
<!--                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-wrap="true" data-bs-keyboard="true">-->
<!--                            <div class="carousel-indicators">-->
<!--                                {% for image in post.images %}-->
<!--                                    <button type="button" data-bs-target="#carouselExampleIndicators"-->
<!--                                            data-bs-slide-to="{{loop.index0}}"-->
<!--                                            class="{% if loop.first %}active{% endif %}">-->
<!--                                    </button>-->
<!--                                {% endfor %}-->
<!--                            </div>-->
<!--                            <div class="carousel-inner">-->
<!--                                {% for image in post.images %}-->
<!--                                <div class="carousel-item {% if loop.first %}active{% endif %}" id="{{ loop.index0 }}">-->
<!--                                    <img src="{{ url_for('static', filename='uploads/' ~ image) }}"-->
<!--                                         class="d-block w-100">-->
<!--                                &lt;!&ndash; Tlačítko pro odstranění obrázku &ndash;&gt;-->
<!--                                <form action="{{ url_for('posts.delete_image', post_id=post.id, image_name=image) }}"-->
<!--                                      method="POST">-->
<!--                                    <button type="submit" class="btn btn-danger mt-2" data-bs-target="false">-->
<!--                                        Odstranit obrázek-->
<!--                                    </button>-->
<!--                                </form>-->
<!--                                </div>-->
<!--                                {% endfor %}-->
<!--                            </div>-->
<!--                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"-->
<!--                                    data-bs-slide="prev">-->
<!--                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                                <span class="visually-hidden">Previous</span>-->
<!--                            </button>-->
<!--                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"-->
<!--                                    data-bs-slide="next">-->
<!--                                <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                                <span class="visually-hidden">Next</span>-->
<!--                            </button>-->
<!--                        </div>-->
                        <div class="container">
                          <div class="row">
                            {% for image in post.images %}
                            <div class="col-md-4 col-sm-6 mb-4">
                              <a href="{{ url_for('static', filename='uploads/' ~ image) }}" data-lightbox="gallery">
                                <img src="{{ url_for('static', filename='uploads/' ~ image) }}" class="img-fluid lb-image" alt="Post Image">
                              </a>
                            </div>
                            {% endfor %}
                          </div>
                        </div>
                    {% endif %}

                    <a href="{{ url_for('core.index') }}" class="btn btn-primary mt-4">Zpět na domovskou stránku</a>
                </div>
            </div>
        </div>
    </article>

    <!-- jQuery a Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>

    <!-- Lightbox JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>

    <!-- Script pro konfiguraci rychlých přechodů -->
    <script>
        lightbox.option({
            'fadeDuration': 0,       // Zrychlení přechodu mezi obrázky
            'resizeDuration': 0,     // Zrychlení změny velikosti
            'imageFadeDuration': 0,  // Rychlejší načtení obrázku
            'wrapAround': true,        // Povolit nepřetržitý pohyb mezi obrázky
            'preload': 2,               // Přednačítání dvou obrázků
            'alwaysShowNavOnTouchDevices': true
        });
    </script>

{% endblock %}