{% extends "_base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>
    <!-- Google sign in -->
    <div align="center">
      <a href="{{ url_for('accounts.login_google') }}" class="login-btn mt-2" style="text-decoration:none;">
        <img id="google" src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"
      alt="Google"
      style="width:50px;height:50px;">
      <div class="btn-text">
        Login with Google
      </div>
      </a>
    </div>

    <main class="form-signin w-100 m-auto mt-5">
      <form role="form" method="post" action="">
        {{ form.csrf_token }}
        <div class="form-floating">
          {{ form.email(placeholder="email", class="form-control mb-2") }}
          {{ form.email.label }}
            {% if form.email.errors %}
              {% for error in form.email.errors %}
              <div class="alert alert-danger" role="alert">
                {{ error }}
              </div>
              {% endfor %}
            {% endif %}
        </div>
        <div class="form-floating">
          {{ form.password(placeholder="password", class="form-control mb-2") }}
          {{ form.password.label }}
            {% if form.password.errors %}
              {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                  {{ error }}
                </div>
              {% endfor %}
            {% endif %}
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      </form>

      <p class="text-center mt-3">New User? <a href="{{ url_for('accounts.register') }}">Register now</a></p>
    </main>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock %}